<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
 <form action="/" method="post">
        <input type="text" name="todo">
        <input type="submit">
        <br>
        <ul class=todoList>
        
        {{#todo}}
        <li>
        <label for="checkbox">Complete?
        <input for="mark-complete1" type="checkbox" id="checkbox"></label><div>{{.}}</div>
        {{/todo}}
        </li>
        {{^todo}}
        <p>You have nothing to do!</p>
        {{/todo}}
        
       </ul>
    </form>
    <form action="">
        <h3>Complete tasks</h3>
        {{complete}}
    </form>
</body>

</html>