<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
<!--<script src="./main.js"></script>-->
    
    <form action="/addTodo" method="post">
        <input type="text" name="todo">
        <button id="addTaskSubmit" type="submit">Add Task</button>
    </form>

    <h3>Todo tasks</h3>
    <ul class=todoList>

        {{#todo}} {{^completed}}
        <li>
            <form action="/completeToDo" method="post">
                <!--<input type="hidden" value="{{id}}">-->
                <button id="completeTask_{{id}}" type="submit" value={{id}} name="complete">complete</button>
                <div>{{item}}</div>
            </form>
        </li>
        {{/completed}} {{/todo}}
    </ul>

    <h3>Complete tasks</h3>
    <ul class=completeList>

        {{#todo}} {{#completed}}
            <li>
                <form action="/deleteComplete" method="post">
                    <button id="delete" value={{id}} name="delete">delete</button>
                    <div>{{item}}</div>
                </form>
            </li>
        {{/completed}} {{/todo}}
    </ul>
</body>

</html>